.Counter{
    border: 2px;
    padding: 20px;
    margin-top: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}


.buttonalign{
    display: flex; 
    gap: 10px;
    align-items: center;
    
}
.Counter button:hover{
    background-color: blue;
}